[Desktop Entry]
Version=0.17.6
Name=Tachacoin Core Testnet
Comment=Connect to the Tachacoin P2P Network Testnet
Exec=tachacoin-qt -testnet %u
Terminal=false
Type=Application
Icon=tachacointestnet128
MimeType=x-scheme-handler/tachacoin;
Categories=Network;
StartupWMClass=Tachacoin-qt-testnet
Name[en_US]=tachacoin-qt-testnet
